body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f7;
    color: #333;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 80px; /* Adjust the margin-top to avoid overlap with navbar */
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.agent-list, .property-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.agent, .property {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 30%;
}

.agent img, .property img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.info {
    padding: 20px;
}

.agent h2, .property h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
}

.agent p, .property p {
    margin: 5px 0;
    color: #666;
}

.agent:hover, .property:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007aff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #005bb5;
}

/* Update for carousel arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
    mask-size: contain;
    mask-repeat: no-repeat;
}

.carousel-control-prev-icon::after {
    mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" fill="%23fff"><path d="M0 4l4-4v3h4v2h-4v3z" /></svg>');
}

.carousel-control-next-icon::after {
    mask-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" fill="%23fff"><path d="M8 4l-4 4v-3h-4v-2h4v-3z" /></svg>');
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
