body, h1, .modal-title, .btn {
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

select.form-control {

    font-size: 1.2em;
}
input#reviewTitle, textarea#reviewContent {
    font-size: 0.8em; 
}